nav {
  height: auto;
  width: auto;
  padding: 8px;
  background-color: rgb(0, 0, 0, 0.15);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

nav a {
  text-decoration: none;
}
