nav {
  height: auto;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
}
