nav {
  height: auto;
  width: auto;
  padding: 8px;
  background-color: #ffaf70;
  border-bottom: 1px solid #ff6900;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

nav a {
  text-decoration: none;
}
