.home-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.15);
  color: #ffffff;
}

.home-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
  width: 105px;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0, 0.15);
  margin: 0.5rem;
}

.home-pagination-btn {
  margin: 0.3rem;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.home-pagination-page {
  margin: 0;
  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: antiquewhite;
}

.home-pagination-btn:hover {
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}