.header-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 10px;
  max-width: 350px;
}
